body {
    margin: auto;
    width: 1200px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sfondo {
    background-color: rgb(50, 190, 209);
    height: 120px;  
    background-image: url(./img/pattern.png);
    background-size: 450px;
}
#primaimg {
    height: 120px;
    width: 180px;
}
#booleaner {
    color: rgb(40, 182, 182);
}
#data{
    font-size: 11px;
}
#titolo {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#didascalia {
    margin-top: 0px;
    font-size: 11px;
}
.sottolineare {
    background-color: yellow;
}
ul {
    padding-left: 13px;
}
.widthline {
    width: 300px
}
table{
    border-spacing: 0px;
}
thead{
    background-color: rgba(35, 107, 175, 0.712);
    color: white;
    text-align: left;
}
.colorline{
    background-color: rgba(48, 230, 230, 0.651);
}
h3 {
    color: rgb(206, 83, 206);
}
#bloccofinale1{
    background-image: url(./img/monitor.jpg);
    width: 250px;
    height: 170px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    padding: 18px;
}
#bloccofinale2{
    background-image: url(./img/graph.jpg);
    width: 250px;
    height: 170px;
    color: white;
    font-size: 20px;
    padding: 18px;
}

